.title-card {
    text-align: center;
}

.idle {
    background-color: lightblue;
}


.game-buttons {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.game-buttons:hover {
    background-color: #0056b3;
}